{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Bienvenido, {{ session['usuario'] }}</h2>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action disabled">📝 Foro de información importante (en desarrollo)</a><br>
        <a href="#" class="list-group-item list-group-item-action disabled">🛍️ Foro de ventas y emprendimientos (en desarrollo)</a><br>
        <a href="{{ url_for('foro.ver_foros', id_materia=1) }}" class="btn btn-success">📚 Foros de materias</a><br>
        <a href="{{ url_for('profesor.listar_profesores') }}" class="btn btn-primary">👨‍🏫 Consulta de profesores</a><br>
        <a href="#" class="list-group-item list-group-item-action disabled">🗺️ Mapa interactivo (en desarrollo)</a><br>
        <a href="#" class="list-group-item list-group-item-action disabled">📚 Foros de materias (en desarrollo)</a><br>
    </div>

    <a href="{{ url_for('auth.logout') }}" class="btn btn-danger mt-4">Cerrar sesión</a>

</div>
{% endblock %}
